* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font: 3rem;
    display: inline-block;
    background-color: black;
    padding: 1rem 3rem;
    margin: 1rem 0;
    color: #FFFF00;
}